@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(254, 215, 173));
}

/* navbar style */
nav {
  width: 100%;
  height: 10vh;
  position: sticky;
}
.nav-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo {
  color: black;
  font-size: 2rem;
  font-weight: bolder;
}
.logo span {
  color: rgb(109, 67, 0);
  text-shadow: 0 0 10px rgb(109, 67, 0);
}
.hamburg,
.cancel {
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 10px;
  color: black;
  font-size: 2rem;
  display: none;
}
.nav-container .links {
  display: flex;
  gap: 3rem;
  align-items: center;
}
.nav-container .links a {
  position: relative;
  font-size: 1.2rem;
  color: black;
  text-decoration: none;
  font-weight: 500;
  transform: 0.3s linear;
}
.nav-container .links a::before {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: rgb(109, 67, 0);
  transition: 0.2s linear;
}
.nav-container .links a:hover::before {
  width: 100%;
}
.nav-container .contact-btn {
  background-color: transparent;
  padding: 5px 20px;
  border-radius: 20px;
  border: 2px solid rgb(109, 67, 0);
  transition: 0.2s linear;
}
.nav-container .contact-btn a {
  color: black;
  transition: 0.3s linear;
}
.nav-container .contact-btn:hover,
.nav-container .contact-btn:hover a {
  background-color: rgb(109, 67, 0);
  color: white;
}
.nav-container .links a:hover {
  color: rgb(109, 67, 0);
}

.dropdown {
  z-index: 100;
  position: absolute;
  top: 0;
  transform: translateY(-500px);
  width: 100%;
  height: auto;
  backdrop-filter: brightness(40%) blur(3px);
  box-shadow: 0 0 20px black;
  transition: 0.2s linear;
}
.dropdown .links a {
  color: white;
  display: flex;
  text-decoration: none;
  justify-content: center;
  padding: 15px 0;
  align-items: center;
  transition: 0.2s linear;
}
.dropdown .links a:hover {
  background-color: rgb(109, 67, 0);
}

/* section style */
section {
  width: 100%;
  height: 90vh;
  margin-bottom: 0px;
  margin-top: 0px;
}

/* main style */
.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.main-container .image {
  z-index: -1;
  width: 40%;
}
.main-container .image img {
  width: 80%;
}

.main-container .content {
  color: black;
  width: 40%;
  min-height: 100px;
}
.content h1 {
  font-size: clamp(1rem, 2rem + 2vw, 1.5rem);
}
.content h1 span {
  color: rgb(109, 67, 0);
  text-shadow: 0 0 10px rgb(109, 67, 0);
}

/* skill style */
.skill-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.skill-container .content {
  color: black;
  min-height: 100px;
}

.skill-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
}

.content h1 {
  font-size: clamp(1rem, 2rem + 2vw, 1.5rem);
}
.content h1 span {
  color: rgb(109, 67, 0);
  text-shadow: 0 0 10px rgb(109, 67, 0);
}

.card {
  width: 200px;
  height: auto;
  background-color: #f8fbfe;
  border-radius: 8px;
  transition: all ease 0.4s;
  margin: 20px;
}

.card:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
  scale: 1.05;
}

.tools {
  display: flex;
  align-items: center;
  padding: 9px;
}

.circle {
  padding: 0 4px;
}

.box {
  display: inline-block;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 1px;
  border-radius: 50%;
}

.red {
  background-color: #ff605c;
}

.yellow {
  background-color: #ffbd44;
}

.green {
  background-color: #00ca4e;
}

.card__content {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 14px;
}

.img-card {
  width: 150px;
  margin: auto;
}

.card__content h3 {
  margin: auto;
}

@media (max-width: 884px) {
  body {
    overflow-y: visible;
  }
  nav .logo {
    position: absolute;
    top: 16px;
    left: 15px;
    font-size: 1.5rem;
  }
  .main-container,
  .skill-container {
    display: flex;
    flex-direction: column;
  }

  .skill-content {
    display: flex;
    flex-direction: column;
  }
  .nav-container .links {
    display: none;
  }
  .hamburg,
  .cancel {
    display: block;
  }
  .main-container .content,
  .skill-container .content {
    width: 80%;
  }
  .social-links i {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
  }
  .cancel {
    color: white;
  }
  .main-container .image,
  .skill-container .image {
    width: 80%;
    margin-bottom: 0px;
  }
}
